@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


.header {
    text-align: center;
    margin: 20px 0;
}

.header-title {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: bold;
    margin: 0
}

.header-divider {
    width: 80%;
    margin: 10px auto;
    border: none;
    border-top: 1px solid black;
}