@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


body {
    margin: 0; /* Remove default browser margins */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*l height of the viewport*/
    /* background-color: #f2a9a9; Optional background color */
}

.header {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
    height: 10vh;
    margin: 0;
    background-color: blue;
}

.header-title {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

.header-divider {
    width: 105%;
    margin: 10px auto;
    border: none;
    border-top: 1px solid black;
}

.NavBar {
  background-color: aqua;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 0;
  padding: 2px 20px;
  }

.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

}

html, body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: rgb(231, 159, 159);
}

h1 {

}

h2 {
  font-family: 'Playfair Display', serif;
}

